
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  background-image: url("beer-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-color: white;
  
}


table, th, td {
   border: 1px solid black;
   padding: 3px;
}

.heads{
	font-size: 22px;
	color: #ffcd08; 
	font-weight: bold;
}
/* .specialbutton{
	padding: 5px, 5px, 5px, 5px;
} */
table{
	table-layout: auto;
	width:100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
    border-collapse: collapse;
    text-color: black;
    background-color: white;
    background: rgba(0,0,0,0.5);
    color:#fff;

}
 
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
        text-decoration: none;
    
}

a:hover {
     color: blue;
}

a:active {
    color: green;
        text-decoration: none;
    
}
/* 
input[type=button], input[type=submit]   {
    background-color: #b4890d;
    border:groove;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
   
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d2a608;
    border: 1px solid #555;
}


li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
li a.active {
    background-color: #3f4342;
    color: white;
}
.text { 
font-family: "Lato", Helvetica, Arial, sans-serif;
font-size: 12px; 
color: #33CC33; 
opacity:1; 
filter:alpha(opacity=100); 
-moz-opacity:1; 
-khtml-opacity:1; 
} 
p {
color: white;
}
#logo {
	width: 15%;
	height: 15%;
}
.navbar{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-color: white;
} 
h1, h2, h3, h4, h5{
	color: white;
}